<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.truthuniversal.tujasiri.truthuniversalapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-sdk tools:overrideLibrary="com.google.android.gms.all,com.google.android.gms.ads,com.google.android.gms,
        com.google.android.gms.analytics,com.google.android.gms.appindexing,
        com.google.android.gms.appinvite,com.google.android.gms.appstate,com.google.android.gms.cast,com.google.android.gms.drive,
        com.google.android.gms.fitness,com.google.android.gms.location,com.google.android.gms.maps,com.google.android.gms.games,
        com.google.android.gms.gcm,com.google.android.gms.identity,com.google.android.gms.nearby,com.google.android.gms.panorama,
        com.google.android.gms.plus,com.google.android.gms.safetynet,com.google.android.gms.wallet,com.google.android.gms.wearable"/>



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YouTubeActivity"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <activity
            android:name=".YouTubePlayerUtil"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.NewsActivity"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.CheckoutCartItemViewActivity"
            android:label="@string/title_activity_merch_item_description"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.MerchActivity"
            android:label="@string/title_activity_merch_item_description"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.MerchItemDescriptionActivity"
            android:label="@string/title_activity_merch_item_description"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MerchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MerchActivity" />
        </activity>
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.StripeActivity"
            android:label="@string/title_activity_merch_item_description"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <activity
            android:name="com.truthuniversal.tujasiri.truthuniversalapp.GooglePlayMusicActivity"
            android:label="@string/title_activity_merch_item_description"
            android:parentActivityName="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.truthuniversal.tujasiri.truthuniversalapp.MainActivity" />
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
